{
  "expo": {
    "name": "{{APP_NAME}}",
    "slug": "{{APP_SLUG}}",
    "version": "1.0.0",
    "orientation": "portrait",
    "userInterfaceStyle": "automatic",
    "newArchEnabled": true,
    "scheme": "{{APP_SLUG}}",
    "ios": { "supportsTablet": true },
    "android": {},
    "web": { "bundler": "metro" },
    "plugins": {{PLUGINS}}
  }
}
