{
  "name": "{{APP_SLUG}}",
  "version": "1.0.0",
  "main": "{{MAIN}}",
  "scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "web": "expo start --web"
  },
  "dependencies": {{DEPENDENCIES}},
  "devDependencies": {{DEV_DEPENDENCIES}},
  "overrides": {{OVERRIDES}},
  "private": true
}
